<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/register.css">
    <script src="../js/register.js" defer></script>

</head>
<body>
    <div class="register-box">
        <h2>Register</h2>
        <form id="registerForm" method="POST">
            <input type="text" placeholder=" Full Name" name="full_name" required>
            <input type="text" placeholder="Username" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="tel" placeholder="Phone Number" name="phone" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Register</button>
        </form>
        <div id="message"></div>
        <div class="register-extra">
            Already have an account? <a href="./login.html">Login</a>
        </div>
    </div>
    <div class="site-title">Pet Adoption</div>
    <div class="site-description">
        Bring home a new best friend by adopting or find a new family for your pet
    </div>
</body>
</html>
