.animal-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.adopt-btn, .chat-btn {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.adopt-btn {
  background-color: #5C9E9A;
  color: white;
}

.chat-btn {
  background-color: #9c77dd;
  color: white;
}

.adopt-btn:hover {
  background-color: #5C9E9A;
}

.chat-btn:hover {
  background-color: #8a67c7;
}
